<h1>Editando a turma</h1>

<%= render "form", turma: @turma %>

<br>

<div>
  <%= link_to "mostar o conteudo da turma", @turma, class:"btn btn-secondary" %> 
  <%= link_to "voltar para as turmas", turmas_path, class:"btn btn-info" %>
</div>
