<p style="color: green"><%= notice %></p>

<h1>Turmas</h1>

<div id="turmas">
  <% @turmas.each do |turma| %>
    <%= render turma %>
    <p>
      <%= link_to "Mostre essa turma", turma, class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "Nova turma", new_turma_path, class:"btn btn-success" %>

