<h1 class="titulotexthome">Escola Galog Receitas</h1>

<div class="card-grids">
    <div class="card cardstyle" style="width: 18rem;">
        <%= image_tag("steak.jpg", :alt => "rss feed")%>
        <div class="card-body">
            <p class="card-text">Steak tartare</p>
            <p class="card-text">150g de filé mingon picado</p>
            <p class="card-text">15g de cebolinha</p>
            <p class="card-text">15g de molho inglês</p>
            <p class="card-text">15g de mostarda</p>
            <p class="card-text">15g de ketchup</p>
        </div>
    </div>

    <div class="card cardstyle" style="width: 18rem;">
        <%= image_tag("macarrao.jpg", :alt => "rss feed")%>
        <div class="card-body">
            <p class="card-text">carbonara tartare</p>
            <p class="card-text">500g macarrão</p>
            <p class="card-text">15g queijo ralado</p>
            <p class="card-text">15g de oregano</p>
        </div>
    </div>
</div>
