body{
    background-color: #06080d;
}

.titulotexthome{
    color: white;
}

.cardstyle{
    background-color: rgba(92, 185, 242, 2)
}

.card-grids{
    display: grid;
    grid-template-columns: 18rem, 18rem;
}